#imprint {
position: absolute;
  right: 10px;
  top:0px;
  border: 1px solid #e1e8ed;
  border-radius: 0 0 5px 5px;
  border-top: none;
  padding: 3px;
  font-family: sans-serif;
  font-size: xx-small;
}

.parentbody {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
}

blockquote.twitter-tweet {
  flex-grow: 1;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin: 10px 10px 10px 10px;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

blockquote.twitter-tweet {
  flex-basis: 300px;
  max-width:500px;
  min-width:280px;
}

@media (max-height: 900px) {
  blockquote.twitter-tweet {
    flex-basis: 225px;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
